body{
    font-family: 'Montserrat', sans-serif;
}
 .navbar-brand img{
    width: 250px;
    height: auto;
    text-align: center;
  }
 .lefttext h1{
    font-family: "Montserrat";
    font-weight: 00;
    font-style: Bold;
    font-size: 3rem;
    line-height: 1.5;
    color: #fff;
    text-align: left;
}
 .purp {
    background-color: #6739B6;
    padding: 1% 10% 9%;
    justify-content: flex-end;
}
.push-right{
    justify-content: flex-end;
  }
 .nav-link{
    padding-left: 30px!important;
    padding-right: 30px!important;
}
.navbar a{
    color: rgba(255,255,255,.5);
    font-size: 1.2rem;
}
.navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: flex-end;
}
button{
    margin: 1% 2% 3%;
}
.rightimg{
    width: 0%;
    transform: rotate(20deg);
    right: 20%;
    position: absolute;
}
.Whitepart{
    padding: 1% 10% 1%;
}
.card{
    margin: 20px;
}
.card-img-top{
    width: 20%;
    position: relative;
    left: 46%;
}
.card-title{
    font-size: 1.5rem;
    font-weight: 700;
    margin: 20px;
    font: bold;
}
.grey{
    background-color: #f5f5f5;
    text-align: center;
}
.obama{
    width:100px;
    border-radius:50%;
    
    margin: 25px;
}
.obamaa{
    text-align: center;
}
.picss{
    width: 8%;
    margin: 20px 40px;
  }
